* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #040f1a;
  }
  
  .header {
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    background-color: #0a0a23;
    color: #fff;
    border-bottom: 6px solid #253b698f;
  }
  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 18px 8px;
    max-width: 1400px;
    margin: 0 auto;
    object-fit: cover;
    gap: 20px;
  }
  .gallery img {
    width: 100%;
    max-width: 380px;
    height: 750px;
    object-fit: cover;
    border-radius: 15px;
  }
  /* Pseudo elements son utilizados para dar estilo a una parte especifica de un elemento */
  .gallery::after { content: "";
    width: 350px; }